extends base.pug
block style
 style
  include ../static/style.css
block content
 div.content1
  .header
   h2 JSS HOSTEL
   div.lora
    The Institute has separate hostels for boys and girls. Boys hostel can accommodate around 500 students. Girls   hostel can accommodate around 315 students.
  div.about
   img(src="../static/8.jpg")
   img(src="../static/9.jpg")
   img(src="../static/10.jpg")
   img(src="../static/11.jpg")
   img(src="../static/13.jpg")
  
   img(src="../static/1a.jpg")
   img(src="../static/1b.jpg")