doctype html
html
  head
    title title
    block scripts
     script(src="/static/signup.js")
     script(src="/static/jquery-3.7.1.min.js")
    block style
     link(rel='stylesheet', href='/static/style.css')
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ewert&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Frijole&family=Pacifico&display=swap" rel="stylesheet">
  body
    div#logo
     img(src="/static/4.png")
    div.logoheader
     | JSS ACADEMY OF TECHNICAL EDUCATION
    section  
     div#bgcol
      ul.navb
       li #[a(href="/ " class="nav") Home]
       li #[a(href="/about" class="nav") About]
       li #[a(href="/hmlogin" class="nav") Hostel manager]
       li #[a(href="/contactus" class="nav") Contact Us]
    block content
    block foot
    div#footer
     | © hostel management system(2020) | All Rights Reserved | 
<a href="https://www.hitwebcounter.com" target="_blank">
<img src="https://hitwebcounter.com/counter/counter.php?page=7854311&style=0001&nbdigits=5&type=page&initCount=0" title="Free Counter" Alt="web counter"   border="0" /></a>                                    
