extends base.pug
block style
 style
  include ../static/style.css
block content
 .contact
   div.contact1
    img(src="../static/17.png")
   .content
    h5 JSS Academy of Technical Education
    h5 JSSATE-B Campus,
    h5 Dr.Vishnuvardhan Road
    h5  Uttarahalli-Kengeri Main Road,Srinivaspura-Post
    h5 Bengaluru – 560 060
    h5 Karnataka(India)
    h5  Ph: 08440015977(nitish kumar)
    h5      06376830685(Sitanshu shekhar)
    h5  E-Mail: (nitish448711@gmail.com)
    h5          (sitanshu068@gmail.com)
 